<%- include('includes/head') %> <%- include('includes/nav') %>

<container class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center">Contacts Manager</h1>
      <p class="text-center lead">
        Save your contacts details and remain organised
      </p>

      <%- include('includes/messages'); %> <% if(contacts.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-4">
          <% contacts.forEach(contact => { %>
          <tr>
            <td><%= contact.firstName %></td>
            <td><%= contact.lastName %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phoneNr %></td>
            <td>
              <a href="/contact/index/<%= contact._id %>">Edit</a>
            </td>
            <td>
              <a class="text-danger" href="/contact/delete/<%= contact._id %>"
                >Delete</a
              >
            </td>
          </tr>
          <% });%>
        </table>
      </div>
      <% } else { %>
      <hr />
      <p class="lead text-center">No contacts yet!</p>
      <% } %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</container>

<%- include('includes/footer') %>
